
@{
    ViewBag.Title = "Gracias";
}

<h2 style="background-color: darkgrey; text-align: center; color:white; font-family: inherit; padding-top: 4%;">
    Tu emprendimiento se ha registrado exitosamente.
    <br />
    Gracias!
    <br>
    <br>

    <img src="~/Content/Images/bandera2.png" style="padding-bottom: 8%;">
</h2>
<br />
<br />
<a href="@Url.Action("Index", "Home")" style="padding:20px;">Inicio</a>
